.modal {
  width: 30rem;
  max-width: 90%;
}

.modal-box {
  margin: 0;
  overflow: hidden;
}

.modal-header {
  background-color: rgb(75, 11, 85);
  color: white;
  width: 100%;
  padding: 1rem;
  transform: translateX(-16px) translateY(-20px);
}

.modal-header--error {
  background-color: rgb(224, 108, 117);
  color: white;
}

.modal-header--confirmation {
  background-color: rgb(255, 202, 40);
  color: white;
}

.modal-header--success {
  background-color: rgb(128, 177, 72);
  color: white;
}

.modal-header h2 {
  margin: 0;
}

.modal-content {
  margin: 1rem 0;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
}
